body {
    width: 960px;
    margin: 1em auto auto auto;
    font-family: 'Droid Serif', serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: maroon;
}

h1,h2 {
    margin: 1.5em 0;
}
